In [5]:
# Cleaning Raw Data from Johns Hopkins
# By Chris Chiang
import pandas as pd
import datetime as dt
import numpy as np

In [76]:
data_loc = '../raw_data/Johns_Hopkins_day_by_day/'
# Setting up dates
start_date = dt.date(2020,1,22)
last_date = dt.date(2020,3,21)
# data format changed for the last 6 days of data so need to change
days = (last_date - start_date).days

In [77]:
# forloop init
current_date = start_date
combine_df = pd.DataFrame()
i=0

for _ in range(int(days)+1):
    load_string = current_date.strftime("%m-%d-%Y")
    today_df = pd.read_csv(data_loc + load_string +'.csv')
    day_deaths_tot=0
    day_confirmed_tot=0
    for needed in ['US','Mainland China', 'South Korea', 'Italy','China','Korea, South']:
        try:
            needed_df = today_df.groupby('Country/Region').get_group(needed)
            day_deaths_tot += needed_df['Deaths'].sum()
            day_confirmed_tot += needed_df['Confirmed'].sum()
            row = pd.DataFrame({'date':current_date,'Country/Region':needed,'Confirmed':needed_df['Confirmed'].sum(),'Deaths':needed_df['Deaths'].sum()},index=[i])
            combine_df = pd.concat([row, combine_df])
            i += 1
        except KeyError:
            row = pd.DataFrame({'date':current_date,'Country/Region':needed,'Confirmed':0,'Deaths':0},index=[i])
            combine_df = pd.concat([row, combine_df])
            i += 1
            print(f'{needed} data not found')
        # add total row
    row = pd.DataFrame({'date':current_date,'Country/Region':'Total','Confirmed':day_confirmed_tot,'Deaths':day_deaths_tot},index=[i])
    combine_df = pd.concat([row, combine_df])
    i += 1
    # increment date
    current_date = current_date + dt.timedelta(days=1)
combine_df

Italy data not found
China data not found
Korea, South data not found
Italy data not found
China data not found
Korea, South data not found
Italy data not found
China data not found
Korea, South data not found
Italy data not found
China data not found
Korea, South data not found
Italy data not found
China data not found
Korea, South data not found
Italy data not found
China data not found
Korea, South data not found
Italy data not found
China data not found
Korea, South data not found
Italy data not found
China data not found
Korea, South data not found
Italy data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
China data not found
Korea, South data not found
South Korea data not found
China data not found
Korea, South data not found
South Korea data not found
South Korea data not found
Mainland China data not found
South Korea data not found
Mainland China data not found
South Korea data not found
Mainland China data not found
South Korea data not found
Mainland China data not found
South Korea data not found
Mainland China data not found
South Korea data not found
Mainland China data not found
South Korea data not found
Mainland China data not found
South Korea data not found
Mainland China data not found
South Korea data not found
Mainland China data not found
South Korea data not found

           date  Country/Region  Confirmed  Deaths
419  2020-03-21           Total   169175.0  8493.0
418  2020-03-21    Korea, South     8799.0   102.0
417  2020-03-21           China    81305.0  3259.0
416  2020-03-21           Italy    53578.0  4825.0
415  2020-03-21     South Korea        0.0     0.0
..          ...             ...        ...     ...
4    2020-01-22           China        0.0     0.0
3    2020-01-22           Italy        0.0     0.0
2    2020-01-22     South Korea        1.0     0.0
1    2020-01-22  Mainland China      547.0    17.0
0    2020-01-22              US        1.0     0.0

[420 rows x 4 columns]

In [78]:
# do loop for the changed format data for last 6 days
start_date = dt.date(2020,3,22)
last_date = dt.date(2020,3,28)
days = (last_date - start_date).days
for _ in range(int(days)):
    load_string = current_date.strftime("%m-%d-%Y")
    today_df = pd.read_csv(data_loc + load_string +'.csv')
    day_deaths_tot=0
    day_confirmed_tot=0
    for needed in ['US','Mainland China', 'South Korea', 'Italy','China','Korea, South']:
        try:
            needed_df = today_df.groupby('Country_Region').get_group(needed)
            day_deaths_tot += needed_df['Deaths'].sum()
            day_confirmed_tot += needed_df['Confirmed'].sum()
            row = pd.DataFrame({'date':current_date,'Country/Region':needed,'Confirmed':needed_df['Confirmed'].sum(),'Deaths':needed_df['Deaths'].sum()},index=[i])
            combine_df = pd.concat([row, combine_df])
            i += 1
        except KeyError:
            row = pd.DataFrame({'date':current_date,'Country/Region':needed,'Confirmed':0,'Deaths':0},index=[i])
            combine_df = pd.concat([row, combine_df])
            i += 1
            print(f'{needed} data not found')
        # add total row
    row = pd.DataFrame({'date':current_date,'Country/Region':'Total','Confirmed':day_confirmed_tot,'Deaths':day_deaths_tot},index=[i])
    combine_df = pd.concat([row, combine_df])
    i += 1
    # increment date
    current_date = current_date + dt.timedelta(days=1)
combine_df

Mainland China data not found
South Korea data not found
Mainland China data not found
South Korea data not found
Mainland China data not found
South Korea data not found
Mainland China data not found
South Korea data not found
Mainland China data not found
South Korea data not found
Mainland China data not found
South Korea data not found

           date  Country/Region  Confirmed   Deaths
461  2020-03-27           Total   279384.0  14150.0
460  2020-03-27    Korea, South     9332.0    139.0
459  2020-03-27           China    81897.0   3296.0
458  2020-03-27           Italy    86498.0   9134.0
457  2020-03-27     South Korea        0.0      0.0
..          ...             ...        ...      ...
4    2020-01-22           China        0.0      0.0
3    2020-01-22           Italy        0.0      0.0
2    2020-01-22     South Korea        1.0      0.0
1    2020-01-22  Mainland China      547.0     17.0
0    2020-01-22              US        1.0      0.0

[462 rows x 4 columns]

datetime.date(2020, 1, 23)

In [79]:
# just some testing script below

next_day = start_date + dt.timedelta(days=1)
next_day

datetime.date(2020, 3, 23)

In [31]:
df.groupby('Country/Region').get_group('Mainland China')['Confirmed'].sum()
df.groupby('Country/Region').get_group('Italy')

# df['Confirmed'].sum()

KeyError: 'Italy'

In [20]:
combine_df = pd.DataFrame({'date':'','Country/Region':'','Confirmed':'','Deaths':''},index=[])
combine_df.head()

Empty DataFrame
Columns: [date, Country/Region, Confirmed, Deaths]
Index: []

In [47]:
combine_df = pd.DataFrame()
i=0
for needed in ['US','Mainland China', 'South Korea', 'Italy']:
    try:
        needed_df = df.groupby('Country/Region').get_group(needed)
        row = pd.DataFrame({'date':start_date,'Country/Region':needed,'Confirmed':needed_df['Confirmed'].sum(),'Deaths':needed_df['Deaths'].sum()},index=[i])
        i += 1
        combine_df
        combine_df = pd.concat([row, combine_df], ignore_index=True)
    except KeyError:
        row = pd.DataFrame({'date':start_date,'Country/Region':needed,'Confirmed':np.NaN,'Deaths':np.NaN},index=[i])
        i += 1
        combine_df
        combine_df = pd.concat([row, combine_df], ignore_index=True)
        print('data not found')

combine_df

data not found

         date  Country/Region  Confirmed  Deaths
0  2020-01-22           Italy        NaN     NaN
1  2020-01-22     South Korea        1.0     0.0
2  2020-01-22  Mainland China      547.0    17.0
3  2020-01-22              US        1.0     0.0

In [30]:
combine_df = pd.DataFrame()
combine_df.head()

Empty DataFrame
Columns: []
Index: []

In [44]:
row = pd.DataFrame({'date':start_date,'Country/Region':'Mainland China','Confirmed':df.groupby('Country/Region').get_group('Mainland China')['Confirmed'].sum(),'Deaths':df.groupby('Country/Region').get_group('Mainland China')['Deaths'].sum()},index=[0])
# df.groupby('Country/Region').get_group('Mainland China')['Confirmed'].sum()
row.head()

         date  Country/Region  Confirmed  Deaths
0  2020-01-22  Mainland China      547.0    17.0

In [38]:
start_date

datetime.date(2020, 1, 22)

In [39]:
df.groupby('Country/Region').get_group('Mainland China')['Confirmed'].sum()

547.0