In [2]:
# Script to combine case data with market data for each country
# By Chris Chiang
import pandas as pd
import datetime as dt
import numpy as np

In [38]:
# Load in raw data
data_loc = '../cleaned_data/'
US_df = pd.read_csv(data_loc + 'DOW.csv')
It_df = pd.read_csv(data_loc + 'MIB.csv')
KR_df = pd.read_csv(data_loc + 'korea_market.csv')
CN_df = pd.read_csv(data_loc + 'china_market.csv')
cases_df = pd.read_csv(data_loc + 'cases.csv')
dow_df.head()

         Date      Price Change %
0  2019-12-23  28,551.53    0.34%
1  2019-12-24  28,515.45   -0.13%
2  2019-12-26  28,621.39    0.37%
3  2019-12-27  28,645.26    0.08%
4  2019-12-30  28,462.14   -0.64%

In [41]:
# Combine South Korea
KR_with_cases_df= pd.DataFrame.merge(cases_df.groupby('Country/Region').get_group('South Korea'),KR_df,on='Date',how='right')
KR_with_cases_df['Country/Region']='South Korea'
KR_with_cases_df.rename(columns = {'Confirmed':"Confirmed cases",'Price':"Index Price", "Change %": "Index Daily % Change"},inplace=True)
KR_with_cases_df["Confirmed cases"]=KR_with_cases_df["Confirmed cases"].fillna(0)
KR_with_cases_df["Deaths"]=KR_with_cases_df["Deaths"].fillna(0)
KR_with_cases_df.to_csv('../cleaned_data/Combine_data_tables/KR_All.csv',index=False)
KR_with_cases_df

,Date,Country/Region,Confirmed cases,Deaths,Index Price,Index Daily % Change
0,2020-03-27,South Korea,9332.0,139.0,"1,717.73",1.87%
1,2020-03-26,South Korea,9241.0,131.0,"1,686.24",-1.09%
2,2020-03-25,South Korea,9137.0,126.0,"1,704.76",5.89%
3,2020-03-24,South Korea,9037.0,120.0,"1,609.97",8.60%
4,2020-03-23,South Korea,8961.0,111.0,"1,482.46",-5.34%
...,...,...,...,...,...,...
60,2019-12-30,South Korea,0.0,0.0,"2,197.67",-0.30%
61,2019-12-27,South Korea,0.0,0.0,"2,204.21",0.29%
62,2019-12-26,South Korea,0.0,0.0,"2,197.93",0.36%
63,2019-12-24,South Korea,0.0,0.0,"2,190.08",-0.62%
64,2019-12-23,South Korea,0.0,0.0,"2,203.71",-0.02%

In [34]:
# Combine China
CN_with_cases_df= pd.DataFrame.merge(cases_df.groupby('Country/Region').get_group('Mainland China'),CN_df,on='Date',how='right')
CN_with_cases_df['Country/Region']='Mainland China'
CN_with_cases_df.rename(columns = {'Confirmed':"Confirmed cases",'Price':"Index Price", "Change %": "Index Daily % Change"},inplace=True)
CN_with_cases_df["Confirmed cases"]=CN_with_cases_df["Confirmed cases"].fillna(0)
CN_with_cases_df["Deaths"]=CN_with_cases_df["Deaths"].fillna(0)
CN_with_cases_df.to_csv('../cleaned_data/Combine_data_tables/CN_All.csv',index=False)
CN_with_cases_df

,Date,Country/Region,Confirmed cases,Deaths,Index Price,Index Daily % Change
0,2020-03-27,Mainland China,81897.0,3296.0,"2,772.20",0.26%
1,2020-03-26,Mainland China,81782.0,3291.0,"2,764.91",-0.60%
2,2020-03-25,Mainland China,81661.0,3285.0,"2,781.59",2.17%
3,2020-03-24,Mainland China,81591.0,3281.0,"2,722.44",2.34%
4,2020-03-23,Mainland China,81496.0,3274.0,"2,660.17",-3.11%
...,...,...,...,...,...,...
60,2019-12-27,Mainland China,NaN,NaN,"3,005.04",-0.08%
61,2019-12-26,Mainland China,NaN,NaN,"3,007.35",0.85%
62,2019-12-25,Mainland China,NaN,NaN,"2,981.88",-0.03%
63,2019-12-24,Mainland China,NaN,NaN,"2,982.68",0.67%
64,2019-12-23,Mainland China,NaN,NaN,"2,962.75",-1.40%

In [42]:
# Combine US
US_with_cases_df= pd.DataFrame.merge(cases_df.groupby('Country/Region').get_group('US'),US_df,on='Date',how='right')
US_with_cases_df['Country/Region']='US'
US_with_cases_df.rename(columns = {'Confirmed':"Confirmed cases",'Price':"Index Price", "Change %": "Index Daily % Change"},inplace=True)
US_with_cases_df["Confirmed cases"]=US_with_cases_df["Confirmed cases"].fillna(0)
US_with_cases_df["Deaths"]=US_with_cases_df["Deaths"].fillna(0)
US_with_cases_df.to_csv('../cleaned_data/Combine_data_tables/US_All.csv',index=False)
US_with_cases_df

,Date,Country/Region,Confirmed cases,Deaths,Index Price,Index Daily % Change
0,2020-03-27,US,101657.0,1581.0,"21,636.78",-4.06%
1,2020-03-26,US,83836.0,1209.0,"22,552.17",6.38%
2,2020-03-25,US,65778.0,942.0,"21,200.55",2.39%
3,2020-03-24,US,53740.0,706.0,"20,704.91",11.37%
4,2020-03-23,US,43667.0,552.0,"18,591.93",-3.04%
...,...,...,...,...,...,...
61,2020-01-14,US,0.0,0.0,"28,939.67",0.11%
62,2020-01-15,US,0.0,0.0,"29,030.22",0.31%
63,2020-01-16,US,0.0,0.0,"29,297.64",0.92%
64,2020-01-17,US,0.0,0.0,"29,348.10",0.17%
65,2020-01-21,US,0.0,0.0,"29,196.04",-0.52%

In [43]:
# Combine Italy
It_with_cases_df= pd.DataFrame.merge(cases_df.groupby('Country/Region').get_group('Italy'),It_df,on='Date',how='right')
It_with_cases_df['Country/Region']='Italy'
It_with_cases_df.rename(columns = {'Confirmed':"Confirmed cases",'Price':"Index Price", "Change %": "Index Daily % Change"},inplace=True)
It_with_cases_df["Confirmed cases"]=It_with_cases_df["Confirmed cases"].fillna(0)
It_with_cases_df["Deaths"]=It_with_cases_df["Deaths"].fillna(0)
It_with_cases_df.to_csv('../cleaned_data/Combine_data_tables/It_All.csv',index=False)
It_with_cases_df

,Date,Country/Region,Confirmed cases,Deaths,Index Price,Index Daily % Change
0,2020-03-27,Italy,86498.0,9134.0,"16,822.59",-3.15%
1,2020-03-26,Italy,80589.0,8215.0,"17,369.38",0.73%
2,2020-03-25,Italy,74386.0,7503.0,"17,243.68",1.74%
3,2020-03-24,Italy,69176.0,6820.0,"16,948.60",8.93%
4,2020-03-23,Italy,63927.0,6077.0,"15,559.80",-1.09%
...,...,...,...,...,...,...
59,2020-01-15,Italy,0.0,0.0,"23,763.86",-0.69%
60,2020-01-16,Italy,0.0,0.0,"23,940.41",0.74%
61,2020-01-17,Italy,0.0,0.0,"24,141.07",0.84%
62,2020-01-20,Italy,0.0,0.0,"24,002.45",-0.57%
63,2020-01-21,Italy,0.0,0.0,"23,845.28",-0.65%

In [50]:
# Create total table
tot_df= cases_df.groupby('Country/Region').get_group('Total')
tot_df.rename(columns = {'Confirmed':"Confirmed cases"},inplace=True)
tot_df.to_csv('../cleaned_data/Combine_data_tables/Total.csv',index=False)
tot_df

           Date Country/Region  Confirmed cases   Deaths
0    2020-03-27          Total         279384.0  14150.0
5    2020-03-26          Total         255448.0  12846.0
10   2020-03-25          Total         230962.0  11856.0
15   2020-03-24          Total         213544.0  10927.0
20   2020-03-23          Total         198051.0  10014.0
..          ...            ...              ...      ...
307  2020-01-26          Total           2070.0     56.0
312  2020-01-25          Total           1403.0     42.0
317  2020-01-24          Total            920.0     26.0
322  2020-01-23          Total            641.0     18.0
327  2020-01-22          Total            549.0     17.0

[66 rows x 4 columns]